<section id="newsLetter" class="py-5 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="newsletter">
          <h3 class="fw-bold secondary-text-color text-center text-lg-start">
            Subscribe to our newsletter for exciting recipes every week!
          </h3>
          <form
            class="row justify-content-center justify-content-lg-start align-items-center white-form"
          >
            <div class="col-10 col-lg-5">
              <div class="input-group my-2" >
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  aria-label="Email"
                  aria-describedby="button-addon2"
                />
                <button
                  class="btn light-bg addon-button"
                  type="button"
                  id="button-addon2"
                >
                  <i class="fa-solid fa-paper-plane main-text-color"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
