<header>
  <div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-12">
        <div class="home-text mx-auto text-center">
          <h3>Welcome to <span class="secondary-bg-color rounded-pill">nourish</span></h3>
          <h1>
            Where
            <span class="main-text-color">Flavors</span> Unveiled
            and
            <span class="main-text-color">Memories</span> Created
          </h1>
          <p>
            Explore a world of sizzling recipes, inspiring blogs, and helpful
            videos – your culinary sanctuary awaits!
          </p>
        </div>
      </div>
      <div class="col-12">
        <div
          class="home-buttons d-flex justify-content-center align-items-center"
        >
          <button class="btn main-bg-color light-text-color">
            Explore Recipes
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
