:root {
      --primary-color: #E45151;
      --secondary-color: #F6CACA;
      --light-color: #FCFCFC;
      --text-color: #333333;
      --text-color-2: #8B8B8B;
      --grey-color: #F1F1F1;
      --white-color: #FFFFFF;
      --font-family: Arial, sans-serif;
}