:root {
  --primary-color: #e45151;
  --secondary-color: #f6caca;
  --light-color: #fcfcfc;
  --text-color: #333333;
  --text-color-2: #8b8b8b;
  --grey-color: #f1f1f1;
  --white-color: #ffffff;
  --bs-border-color: transparent;
  --font-family: "Lato", sans-serif;
}
