@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
}

body {
  background-color: var(--light-color);
  font-family: var(--font-family);
}

ul,
ul li {
  list-style: none;
  padding: 0;
}
