<footer id="footer" class="">
  <section class="footer-top main-bg-color">
    <div class="container  py-5">
      <div class="row justify-content-around align-items-center">
        <div
          class="col-12 col-md-6 d-flex justify-content-between align-items-center"
        >
          <div class="logo-container overflow-hidden w-100">
            <img
              src="assets/images/nourishLogo2.png"
              alt=""
              loading="lazy"
              style="width: 500px"
            />
          </div>
          <p class="light-text-color">
            Discover a world of delightful recipes! From comforting classics to
            creative twists, our site is your recipe haven. Join us as we share
            the joy of cooking with heartwarming dishes crafted just for you.
          </p>
        </div>
        <div class="col-12 col-md-2 text-start text-xl-center">
          <h4 class="light-text-color">title</h4>
          <ul>
            <li class="light-text-color">home</li>
            <li class="light-text-color">home</li>
            <li class="light-text-color">home</li>
          </ul>
        </div>
        <div class="col-12 col-md-2 text-start text-xl-center">
          <h4 class="light-text-color">title</h4>
          <ul>
            <li class="light-text-color">home</li>
            <li class="light-text-color">home</li>
            <li class="light-text-color">home</li>
          </ul>
        </div>
        <div class="col-12 col-md-2 text-start text-xl-center">
          <h4 class="light-text-color">title</h4>
          <ul>
            <li class="light-text-color">home</li>
            <li class="light-text-color">home</li>
            <li class="light-text-color">home</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-bottom secondary-bg-color">
    <div class="container  py-2">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center">
          <p class="main-text-color" style="padding: 0; margin: 0">
            &copy; 2024 Nour Elrashidy. All rights reserved. | Nourish
          </p>
        </div>
      </div>
    </div>
  </section>
</footer>
